html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#one{
    height: 500px;
    width: 100%;
    background-image: url('c.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
h2{
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 15px;
    margin: 15px;
    font-weight: 900;
    font-family: comic sans ms;
}
p{
    color: white;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: comic sans ms;
}